body{
    margin: 0;
    background-color: #FFF7CC;
    font-family: "Gotu";
}
@font-face {
    font-family: "Gotu";
    src: url(font/gotu-regular.ttf);
    font-style: normal;
    font-size: small;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline #FF006B 2px;
}

main a{
    color: white;
    text-decoration: none;
}


header {
    padding: 0 25px;
    background-color: #00D1FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    
}
header h1{
    height: 20px;
}
.ricerca{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 50px;
}

h1{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
main p{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40%;
}
.titolo{
    display: flex;
    justify-content: space-evenly;
    padding: 200px 0 150px;
}





.rect{
    background: rgb(255,247,204);
background: linear-gradient(0deg, rgba(255,247,204,1) 25%,
 rgba(105,228,255,0.5) 25%, rgba(105,228,255,0.5) 75%,
  rgba(255,247,204,1) 75%);
    margin-bottom: 50px;
    align-items: center;    
}
@media (max-width:960px) {
    
    .rect{
        background: rgb(255,247,204);
    background: linear-gradient(0deg, rgba(255,247,204,1) 20%, 
     rgba(105,228,255,0.5) 20%,
     rgba(105,228,255,0.5) 80%, 
     rgba(255,247,204,1) 80%);
        margin-bottom: 50px;
        align-items: center;    
    }
    

    main p{
        
        max-width: 45%;
        
        font-size: 15px;
    }


}

@media (max-width:730px) {

    main p{
        
        max-width: 50%;
        
        font-size: 13px;
    }
    img{
        max-width: 60%;
    }
    



}
@media (min-width:600px){
    .riga{
        padding: 20px;
    }
    #titolo{

        font-size: 60px;
        padding: 200px 0 150px;
    }
    .titolo{
        margin: 0 20px;
        gap: 20px;
    }
}

@media (max-width:600px) {
    .rect{    
        background: rgb(255,247,204);
         background: linear-gradient(0deg, rgba(255,247,204,1) 0%,
          rgba(105,228,255,0.5) 0%, rgba(105,228,255,0.5) 75%, 
          rgba(255,247,204,1) 75%);
         margin-bottom: 100px;
         align-items: center;
    
    }
    #rect2{
        background: rgb(255,247,204);
        background: linear-gradient(0deg, rgba(255,247,204,1) 20%, 
         rgba(105,228,255,0.5) 20%,
         rgba(105,228,255,0.5) 80%, 
         rgba(255,247,204,1) 80%);
            margin-bottom: 50px;
            align-items: center;    

    }

    main p{
        
        max-width: 70%;
        
        font-size: 13px;
    }
    .riga{
        align-items: center;
        flex-direction: column;
        /*
        background: rgb(255,247,204);
        background: linear-gradient(0deg, rgba(255,247,204,1) 50%,
         rgba(105,228,255,0.5) 50%, rgba(105,228,255,0.5) 90%,
         rgba(255,247,204,1) 90%);
            margin-bottom: 50px;
        */
        
    }
    img{
        width: 100%;
        
        
    }


    #riga2{
        flex-direction: column-reverse;
        
    }
    .titolo{
        flex-direction: column;
        align-items: center;
    }
    #titolo{
        font-size: 60px;
        padding: 50px 0 150px;
        font-size: 40px;
        justify-items: center;
    }
    footer p{
        font-size: 12px;
    }


}
@media (max-width:480px){
    footer p{
        font-size: 9px;
    }


}






.card{
    margin-bottom: 200px;
}

.riga{
    display: flex;
    justify-content: space-evenly;
    
    gap: 5%;
}

/*
@media  (max-width:1100px){
    img{
        max-width: 40%; 
        object-fit: scale-down ;
        
        display: flex;
    }

}
*/
    


img{
    max-width: 50%; 
    object-fit: scale-down ;
    
    display: flex;
}
/*
#img_sola{
    max-width: 100%;
   
    object-fit: scale-down ;
    
    display: flex;
}

*/

footer {
    align-content: flex-end;
    text-align: center;
    padding: 60px;
}

.footer  {
    text-decoration: none;
    border-top:2px solid  hsla(190, 100%, 15%, 1);
    margin: 0;
    padding: 20px 0;
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}